@font-face {
  font-family: "Comfortaa bold";
  src: url(/assets/Comfortaa-Bold.ttf)
}

body{
  font-family: "Comfortaa bold"!important;
  background-color: black;
  background-image: url(/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-style{
  background-color: black;
}

.link-navbar{
  transition: transform .5s;
}

.link-navbar:hover{
  transform: scale(1.01);
}

.mate-pc-code{
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.png{
  width: 250px;
  height: 250px;
}

.mate-png{
  width: 180px;
  height: 180px;
}

.suma-png{
  width: 85px;
  height: 85px;
}

.igual-png{
  width: 110px;
  height: 110px;
}

.card-aboutme{
  background-color: black !important;
}

.img-perfil{
  width: 370px;
  height: 370px;
}

.texto-aboutme{
  width: 50%;
}

.card-languajes-and-tools{
  width: 100px;
  height: 100px;
}

.jobs-contact{
  background-color: black;
  margin-top: 90px;
}

.sitio-web{
  transition: transform .1s;
}

.sitio-web:hover{
  transform: scale(1.03);
}

.image-contact-png{
  width: 100px;
  height: 100px;
  transition: transform .1s;
}

.image-contact-png:hover{
  transform: scale(1.20);
}

.input-datos{
  background-color: whitesmoke;
  color: black;
  width: 330px;
}

.cuadro-mensaje{
  background-color: whitesmoke;
  color: black;
  width: 350px;
}

.boton{
  background-color: whitesmoke;
  color: black;
  transition: background-color .1s;
}

.boton:hover{
  background-color: #ced4da !important;
  color: #212529;
}

@media (max-width: 767.98px) {
  .navbar{
    font-size: 13px;
  }
  .mate-pc-code{
    height: 45vh;
  }
  .mate-png{
    width: 65px;
    height: 65px;
  }
  .suma-png{
    width: 40px;
    height: 40px;
  }
  .png{
    width: 90px;
    height: 90px;
  }
  .igual-png{
    width: 50px;
    height: 50px;
  }
  .card-aboutme{
    flex-wrap: wrap;
  }
  .img-perfil{
    width: 300px;
    height: 300px;
    margin-top: 20px !important;
  }
  .texto-aboutme{
    width: 100%;
  }  
  .card-languajes-and-tools{
    width: 10%;
  }
  .formulario{
    flex-wrap: wrap;
  }
  .input-datos{
    width: 300px;
  }
  .cuadro-mensaje{
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .mate-pc-code{
    height: 50vh;
  }
  .mate-png{
    width: 110px;
    height: 110px;
  }
  .suma-png{
    width: 70px;
    height: 70px;
  }
  .png{
    width: 150px;
    height: 150px;
  }
  .igual-png{
    width: 95px;
    height: 95px;
  }
  .card-aboutme{
    display: inline-flex;
  }
  .img-perfil{
    width: 300px;
    height: 300px;
  }
  .texto-aboutme{
    width: 50%;
    padding-left: 10px;
  }  
  .card-languajes-and-tools{
    width: 10%;
  }
  .formulario{
    flex-wrap: wrap;
  }
  .input-datos{
    width: 390px;
  }
  .cuadro-mensaje{
    width: 390px;
  }
}