@font-face {
  font-family: "Comfortaa bold";
  src: url(/assets/Comfortaa-Bold.ttf)
}

body{
  font-family: "Comfortaa bold"!important;
  background-color: whitesmoke;
  background-image: url(/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-style{
  background-color: black;
}

.mate-pc-code{
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.png{
  width: 250px;
  height: 250px;
}

.mate-png{
  width: 180px;
  height: 180px;
}

.suma-png{
  width: 85px;
  height: 85px;
}

.igual-png{
  width: 110px;
  height: 110px;
}

.card-aboutme{
  background-color: black !important;
}

.img-perfil{
  width: 370px;
  height: 370px;
}

.texto-aboutme{
  width: 50%;
}

.card-languajes-and-tools{
  width: 100px;
  height: 100px;
}

.jobs-contact{
  background-color: black;
  margin-top: 90px;
}

.image-contact-png{
  width: 100px;
  height: 100px;
}

@media (max-width: 575.98px) {
  .mate-pc-code{
    height: 45vh;
  }
  .mate-png{
    width: 70px;
    height: 70px;
  }
  .suma-png{
    width: 40px;
    height: 40px;
  }
  .png{
    width: 90px;
    height: 90px;
  }
  .igual-png{
    width: 50px;
    height: 50px;
  }
  .card-aboutme{
    flex-wrap: wrap;
  }
  .img-perfil{
    width: 300px;
    height: 300px;
    margin-top: 20px !important;
  }
  .texto-aboutme{
    width: 100%;
  }  
  .card-languajes-and-tools{
    width: 10%;
  }
  .formulario{
    flex-wrap: wrap;
  }
  .input-datos{
    width: 300px;
    background-color: aliceblue;
  }
  .cuadro-mensaje{
    background-color: aliceblue;
    width: 300px;
  }
}