@font-face {
  font-family: "Comfortaa bold";
  src: url(/assets/Comfortaa-Bold.ttf)
}

body{
  font-family: "Comfortaa bold"!important;
  background-color: black;
  background-image: url(/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-style{
  background-color: black;
}

.mate-pc-code{
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.png{
  width: 250px;
  height: 250px;
}

.mate-png{
  width: 180px;
  height: 180px;
}

.suma-png{
  width: 85px;
  height: 85px;
}

.igual-png{
  width: 110px;
  height: 110px;
}

.card-aboutme{
  background-color: black !important;
}

.card-languajes-and-tools{
  width: 100px;
  height: 100px;
}

.jobs-contact{
  background-color: black !important;
  margin-top: 90px;
}

.image-contact-png{
  width: 100px;
  height: 100px;
}